doctype html
html(lang='en')
  head
    block title
    meta(charset='UTF-8')
    link(href='https://fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")

  body
    .header
    .resume-container
      .eyecatch.u-doc-container
        h1.eyecatch-title Dzmitry Sankouski
          p.avatar
        p.eyecatch-subtitle QA Automation Engineer
        p.eyecatch-description
          | All my passion and activities lies in a field of IT, computers and electronics. 
          | Being an open-minded person, I love to share my knowledge with colleagues, as well as learning from them. 
          | I have experience in writing and supporting integration automation tests, writing and refactoring test framework modules, GNU/Debian administration. 
          | Aiming to use my skills in building test automation framework, writing automated tests, and general automation tasks in the project.

      .contact
        .row
          .three.columns.contact-each-first
            p.contact-content +375 29 5185106
            p.contact-heading Phone Number
          .three.columns.contact-each-second
            p.contact-content.contact-content-email eqwewqdasdsaczxcxz@gmail.com
            p.contact-heading Email
          .three.columns.contact-each-third
            p.contact-content live:eqwewqdasdsaczxcxz
            p.contact-heading Skype
          .three.columns.contact-each-last
            p.contact-content Minsk, Belarus
            p.contact-heading Location

      .row.u-doc-container
        .six.columns

          h2.u-section-title Work experience
          .work-each
            p.u-each-title
              span.u-each-organization IntellectSoft
              span.u-each-period 05.2018 ~ 01.03.2019
            p.u-each-subtitle QA automation engineer
            p.work-each-description
              | Test automation activities including:
              ul
                li API test scripts writing.
                li Framework contribution
          
          .work-each
            p.u-each-title
              span.u-each-organization EIS GROUP
              span.u-each-period 05.2018 ~ 01.03.2019
            p.u-each-subtitle QA automation engineer
            p.work-each-description
              | Test automation activities including:
              ul
                li UI and API test scripts writing and support.
                li Knowledge sharing activities
                li Regression support.

          .work-each
            p.u-each-title
              span.u-each-organization EPAM
              span.u-each-period 04.2017 ~ 05.2018
            p.u-each-subtitle QA automation engineer
            p.work-each-description
              | Test automation activities including:
              ul
                li UI test scripts writing and support.
                li Test case analysis and refactoring.
                li Regression results analysis.
                li CopyQ software usage for project needs introduced.
                li Bash script for log retrieval from server.

          .work-each
            p.u-each-title
              span.u-each-organization Semiconductor Devices Factory
              span.u-each-period 09.2014 ~ 09.2016
            p.u-each-subtitle Service Engineer
            p.work-each-description
              | Computers service and repairing
            
          .education
            h2.u-section-title Education
            .education-each
              span.u-each-organization Belarus State University of Informatics and Radioelectronics
              span.u-each-period 09.2009 ~ 09.2014
            p.u-each-subtitle Bachelor's Degree in Eleсtronics Engineering
            ul
                li Programming
                li Linear Algebra
                li Digital/Analog circuit technique
            
        .six.columns

          .education
            h2.u-section-title Technical skills
            ul
                li Java
                li Regular Expressions 
                li Git
                li Debian/Linux
                li Rest Assured
                li Selenium WebDriver 
                li TestNG/Junit
                li AssertJ
                li Jira
                li Postman
                li Jackson
                li Groovy  
                li Maven
                li Gradle
                
          .education
            h2.u-section-title Interpersonal skills
            ul
                li Teamwork
                li Creative Thinking
                li Responsibility
                
          .education
            h2.u-section-title Languages
            ul
                li English, Polish, Belarusian, Russian
                
          .education
            h2.u-section-title Interests and hobbies
            ul
                li Computers hardware and electronics
                li GNU/Linux systems, Debian
                li 
                  a(href='https://github.com/dsankouski/PIC16f676_led_blink') PIC assembly open source sample projects
                li
                  a(href='https://github.com/Halium/projectmanagement/issues/88') Halium port for Samsung galaxy A5 (2017) phone
              
          .education
            h2.u-section-title Profile Links
            ul
                li 
                  a(href='https://www.linkedin.com/in/dzmitry-sankouski') www.linkedin.com/in/dzmitry-sankouski
    .footer

    script(src='bundle.js')
